@import url('https://fonts.googleapis.com/css?family=Heebo|Quicksand:700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*this only affects padding and border; meaning when adding padding it will add inside of the box and not increase the width; BUT it will increase the width when using margin*/
	font-family: 'Quicksand', sans-serif;
	}

  .item-a {
    grid-area: logo;
    justify-self: start;
  }

  .item-a img{
    height: 40px;
  }

  .item-b {
    grid-area: nav;
    justify-self: end;
    color:#000DFF;
  }

	.item-b a{
    color:#000DFF;
		text-decoration: none;
  }

  .item-c {
    grid-area: intro;
    align-self: center;
    color:#000DFF;
		overflow: scroll;
  }

  .item-c h1{
    font-size: 35px;
  }

  .item-c h2{
    font-size: 20px;
		color:#000DFF;
  }

	.item-c p{
		font-size: 15px;
		color:#39323F;
		font-family: 'Heebo',sans-serif;
		padding-top: 15px;
	}

  .item-d {
    grid-area: projects;
    align-self: center;
    justify-self: start;
    color:#000DFF;
  }

	.item-d a{
    color:#000DFF;
    text-decoration: none;
    font-size: 12px;
  }

  .item-e {
    grid-area: email;
    justify-self: start;
    color:#FF3566;
    font-size: 12px;
  }

  .item-f {
    grid-area: cv;
    justify-self: end;
  }

  .item-f a{
    color:#FF3566;
    text-decoration: none;
    font-size: 12px;
  }

  .container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: center;
    align-content: space-evenly;
    grid-template-rows: 5% 40% 30% 5%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    grid-template-areas:
      "logo nav"
      "intro intro"
      "projects projects"
      "email cv";
  }

    @media only screen and (min-width: 800px)   {
		    .container {
          grid-template-rows: 5% 70% 5%;
			  	grid-template-areas:
          "logo nav"
          "projects intro"
          "email cv";
				}

        .item-c h1{
          font-size: 50px;
        }

        .item-c h2{
          font-size: 25px;
        }

        .item-d {
          justify-self: start;
        }
			}
