@import url('https://fonts.googleapis.com/css?family=Heebo|Quicksand:700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*this only affects padding and border; meaning when adding padding it will add inside of the box and not increase the width; BUT it will increase the width when using margin*/
	font-family: 'Quicksand', sans-serif;
	overflow-y: scroll;
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;
}

*::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}
	.item-a {
    grid-area: logo;
    justify-self: start;
  }

  .item-a img{
    height: 40px;
  }

  .item-b {
    grid-area: nav;
    justify-self: end;
    color:#000DFF;
  }

	.item-b a{
		color:#000DFF;
		text-decoration: none;
	}


  .item-c {
    grid-area: desc;
    color:#000DFF;
		overflow: scroll;
		text-align: center;
  }

  .item-c h1{
    font-size: 20px;
  }

  .item-c h2{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    color:#000DFF;
  }

  .item-c p{
    font-size: 12px;
    font-weight: 400;
    color: #39323F;
    padding-bottom: 10px;
		font-family: 'Heebo',sans-serif;
		text-align: left;
  }

	.item-c a{
		text-align: center;
		font-size: 12px;
		color:#9836FF;
    text-decoration: none;
	}

	.item-c img {
		max-width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

  .item-d {
    grid-area: projects;
    align-self: center;
    justify-self: start;
    color:#000DFF;
  }

  .item-d a{
    color:#000DFF;
    text-decoration: none;
    font-size: 12px;
  }

  .item-e {
    grid-area: email;
    justify-self: start;
		align-self: end;
    color:#9836FF;
    font-size: 12px;
  }

	.item-e a{
			color:#9836FF;
			text-decoration: none;
			font-size: 12px;
		}

  .item-f {
    grid-area: cv;
		align-self: end;
    justify-self: end;
  }

  .item-f a{
    color:#9836FF;
    text-decoration: none;
    font-size: 12px;
  }

  .container {
		height: 100vh;
		padding: 20px;
    display: grid;
		grid-template-columns: 2fr 5fr 2fr;
    justify-content: center;
	  grid-template-rows: 1fr 7fr 2fr 1fr;
		grid-gap: 10px;
    grid-template-areas:
      "logo . nav"
      "desc desc desc"
      "projects projects projects"
      "email . cv";
  }

@media only screen and (min-width : 1024px)  {
		    .container {
					padding: 50px;
          grid-template-rows: 1fr 8fr 1fr;
			  	grid-template-areas:
          "logo . nav"
          "projects desc . "
          "email . cv";
				}

				.item-a img{
					height: 50px;
				}

        .item-c h1{
          font-size: 40px;
        }
        .item-c h2{
          font-size: 15px;
        }

        .item-c p{
          font-size: 15px;
        }

        .item-d {
          justify-self: start;
        }
			}
